[submodule "ffmpeg-src"]
	path = ffmpeg-src
	url = git://source.ffmpeg.org/ffmpeg.git
[submodule "dependencies/FFmpeg"]
	path = dependencies/FFmpeg
	url = https://github.com/FFmpeg/FFmpeg.git
[submodule "dependencies/fmt"]
	path = dependencies/fmt
	url = https://github.com/fmtlib/fmt.git
